
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/external/jquery-3.1.1.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/jquery-ui.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/socket.io.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/jquery.ui.touch-punch.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/jqDoubleTap.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/external/cookies.js') }}"></script> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/user.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/audiolistplayer.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/eventmanager.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/medialibrary.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/playerbindings.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/events.js') }}"></script> 

    <title>P{i}layer</title>
  </head>
  <body>

    {% include 'player-album-art.html' %}
    
    <div class="player-container">    
      {% include 'player-controls.html' %}

      {% include 'player-search.html' %}

      {% include 'player-queue.html' %}
    </div>

    {% include 'player-toast.html' %}

  </body>
</html>