<div class="player-controls">
  <button type="button" class="btn btn-default player-action-prev" aria-label="Left Align">
    <span class="glyphicon glyphicon-backward glyphicon-align-left" aria-hidden="true"></span>
  </button>
    <button type="button" class="btn btn-default player-action-play" aria-label="Left Align">
    <span class="glyphicon glyphicon-play glyphicon-align-left" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default player-action-pause" aria-label="Left Align">
    <span class="glyphicon glyphicon-pause glyphicon-align-left" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default player-action-next" aria-label="Left Align">
    <span class="glyphicon glyphicon-forward glyphicon-align-left" aria-hidden="true"></span>
  </button>
</div>
